annotated-types==0.7.0
fastapi==0.100.1
langchain==1.0.8
langchain-core==1.0.7
langchain-mcp-adapters==0.1.11
langchain-openai==1.0.3
langgraph==1.0.3
langgraph-prebuilt==1.0.4
loguru==0.7.3
pydantic==2.12.4
pydantic-settings==2.12.0
typing_extensions==4.15.0
urllib3==2.3.0
uvicorn==0.38.0